<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/110dc0fd-f09b-4b08-a54c-5ee8b2a5e9d2/resourceGroups/Techapidev_repo/providers/Microsoft.Web/sites/TechGalaxy</ResourceId>
    <ResourceGroup>Techapidev_repo</ResourceGroup>
    <ApiResourceId>/subscriptions/110dc0fd-f09b-4b08-a54c-5ee8b2a5e9d2/resourceGroups/Techapidev_repo/providers/Microsoft.ApiManagement/service/TechGalaxyProjectapi/apis/TechGalaxyProject</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://techgalaxy-ejdjesbvb4d6h9dd.israelcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>3cda04a8-50ac-4ba2-bba1-9678e8324877</ProjectGuid>
    <MSDeployServiceURL>techgalaxy-ejdjesbvb4d6h9dd.scm.israelcentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TechGalaxy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>